{% extends 'WebProfile/base.html' %}

    {% block content %}
        <h2 class="section-title">Selamat Datang</h2>
        <div class="row align-items-center">
            <div class="col-lg-12">
                <p class="lead">Halo! Saya Ahmad Hussein Mufahir, mahasiswa Teknologi Informasi di STT Terpadu Nurul Fikri.</p>
                
                <div class="alert alert-info">
                    <i class="bi bi-info-circle-fill"></i> <strong>Konsep Layout:</strong>
                    Navbar dan Carousel di atas bersifat statis (selalu muncul). Klik menu di atas untuk melihat perubahan hanya di area ini.
                </div>
                
                <p>Saya adalah mahasiswa gapyear selama 2 tahun, sebelum melanjutkan studi di bidang Teknologi Informasi saya berkeinginan untuk mengeksplorasi bidang lain, tapi di tengah perjalanan pencarian saya mencari jati diri saya berkeinginan untuk membuat sebuah web secara mandiri berbekal modul yang dimiliki teman saya dari sebuah pelatihan khusus, yang pada akhirnya memberikan saya jalan kepada salah satu keinginan saya yaitu melanjutkan pendidikan tinggi, yang pada akhirnya memberikan saya jalan untuk berkuliah di kampus STT Terpadu Nurul Fikri, saya harap apa yang saya rencanakan dapat terwujud dan mencapai tujuan saya. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque cumque ipsa sint repudiandae praesentium porro velit facere adipisci nihil, ullam dolore at! Vero culpa laboriosam mollitia dolor. Iste, ipsum optio?</p>
            </div>
        </div>
    {% endblock %}